---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.profile {
  max-width: 150px;
}

@media (min-width: 900px) {
  .wider {
    width: 880px;
    margin-left: -50px;
  }
}

@media (min-width: 1000px) {
  .wider {
    width: 980px;
    margin-left: -100px;
  }
}

.card-title {
  font-size: 1.2rem;
}

.img-bg {
  //background-color: lighten(#52ab98, 25%);
  background-color: #52ab98;
  padding: 10px;
}


img {
  pointer-events: none;
}

.img-medium {
  max-width: 500px;  
}